/*BODY*/

body {
	background: #131415; /*13 : 0D0D0D */
    /* ;#141414 margin-bottom: 15px;  margin-top: 8px*/ 
	font: 12px Helvetica, Tahoma, sans-serif; /*14px*/ color: #eeeeee;
	margin:0;
  	padding:0;
	border:none;
	}
		/*white-space: normal;*/
    /*Helvetica, Tahoma, sans-serif; Calibri,sans-serif;*/
/*body {	background-color: #141414; 	font-family:Calibri,sans-serif; }*/
/*header {}*/

/* NAV */
nav.home, nav.menu {
	background:#232629;
	list-style-type: none;
	font-size : large;
	font-weight: bold;
}
nav.menu4{font-size:small}
nav.home a { color: #aaa }
nav.home a:hover { color: #666; }

nav.home ul {
	padding:0px;
	margin:0px;
	text-align:center}
nav.menu ul, nav.list ul, nav.menu4 li {
	padding:0px;
	margin:0px;
}
nav.home li, nav.menu li, nav.menu4 li {
	display: inline-block;  /* NAVBAR HORIZONTAL, no float */
	/* overflow:hidden; CREE UNE LIGNE */
	padding:0px;
	margin:0px;
	padding-left: 5px;
	padding-right: 5px;
}
nav.list li {
	display: inline-block;  /* NAVBAR HORIZONTAL, no float */
	padding-right: 20px;
}

.page {
	background-color: #aaa;

	width:850px;
	height:auto;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:0;
	display:block;
	padding:0;
	clear:both;
}
.text {
	position:relative;
	left:13px;
	width:790px;
	padding:0 10px;
	margin:0;
	word-spacing:1.px;
	color:#333;
	letter-spacing:0.1px;
	text-align:left;
	/* font:11px Verdana, Arial, Helvetica, sans-serif; */
	line-height:17px;
}



.swap{text-align:right}
.lang{    text-align:right;
		font-size:large;
		font-weight:bold;
		/* position: absolute; */
		text-align:right;
		right: 0; top: 0; list-style: none; padding-left: 0; margin: 0;  }
	.lang li { display: inline-block; padding-right: 10px;
}

/* .text h3 {
	font:11px Verdana, Arial, Helvetica, sans-serif;
	color:red;

} */

/*.navi:hover{
	display:block;  
	overflow:scroll;
}*/

/*ELEMS / TEXT */
h1, h2, h3, h4 { margin:auto; }
/*h1, h2, h3, h4 {    margin-top:10pt;    margin-bottom:10pt;	color:#4F81BD;}*/
h1 { font-size: xx-large; } /*2em*/
h2 { font-size: x-large } /*1.6em*/
h3 { font-size: large 
} /*h3 { 1.3em border-bottom: 1px solid gray;}*/
h4 { font-size: small; } /*h4 {  1.18em  font-weight: normal;	margin-bottom:0pt;}*/
p { /*font-size:*/ /*10ptx*/  margin:auto; }

a {  color: #eee; }
a:hover  {  color: #aaa; }
/* text-decoration: underline */
a:link, a:visited { text-decoration: none }
/* a:focus  { text-decoration: underline} */
a.listitem { color: deepskyblue }
a.listitem:hover { color: skyblue; }
a.listitem:visited { color: darkcyan}

/* DIV */
.logo{text-align:center}
.line { text-align:"center"; width:800px }

/*ol li {list-style-type:decimal-leading-zero}*/

/*input {	position:fixed;}*/


/*TYPE / CLASS*/

.list {	margin:0; border:none; } /*padding:0;*/ /*margin:auto*/
/*.hide { display: none; }*/
.tabl{width:650px; }
.tabl td { width:325px; padding: 0 0 0 20px; } 
/* padding: 0 20px 0 20px; */
/*.head {
	width: 100%;
	height:100%;
}*/

.main {
	position:fixed;
	display:hidden;
    overflow:hidden;
/*  width: 80%;
    margin-left:20%;
    height:100%;*/
    /*left:20%;*/
/*	white-space:normal;*/
}

/* .lang { text-align: right; font-size: large; 	padding-left: 10px;
	padding-right: 10px; } */

/*.table {
	border:1px;
	border-collapse:collapse;
}*/

.c0 { color: #abcdef;}
.c1 { color: #4BACC6;}
.c2 { color: #9BBB59;}
.c3 { color: #FFC000;}
.c4 { color: #F79646;}
.c5 { color: #C0504D;}
.c6 { color: #C0504D;}
.note {   color: darkgray;	/*display:block;*/}
.ref {    color:gray;	} /*display:block;*/
