nav.home{text-align: right;}
nav.menu{
	color:#bebdf2;
	background-color:#41405f;
	padding-left:50px;
	margin:0px;
	margin:0px;
}
nav.menu ul {
	padding:0px;
	margin:0px;
	overflow: hidden;
}
nav.menu a {color:#eee}
nav.menu a:hover { color:#bebdf2 }

nav.list a{ color:#bebdf2;}
nav.list a:hover{ color:#eee; background: #41405f }
/*  color:#63619C */

h3{	background:#63619C;
}
a.x {background:#41405f;}

.lang { 
    font-size:large;
    font-weight:bold;
    /* position: absolute; */
    right: 0; top: 0; list-style: none; padding-left: 0; margin: 0; 
}

a { color:#fff;}
a:hover { color: #aaa}

.page {
	background-color: #c9c9d4;
	background-color: #28282e;
	background-color: #303438;
	width:850px;
	height:auto;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:0;
	display:block;
	padding:0;
	clear:both;

}
.page h1 { font-size:16px; background:#41405f}
.text {
	position:relative;
	left:13px;
	width:800px;
	padding:0 10px;
	margin:0;

    color:#333;
	color:#eee;
    text-align:left;
	word-spacing:1.px;
	letter-spacing:0.1px;
	/* font:12px Verdana, Arial, Helvetica, sans-serif; */
	line-height:16px;
}
.text h2 { font-size:16px }
.text h3 {font-size: 14px;  color: #eeeeee;}
.text h4 {font-size: 12px;}
.text a{ color:#63619C; color:#bebdf2}
.text a:hover{ color:#7270b3; }
/* color:#eeeeee; background:#63619C */
