/*BODY*/

body {
	background: #0D0D0D;
    /* ;#141414 margin-bottom: 15px;  margin-top: 8px*/ 
	font: small Helvetica, Tahoma, sans-serif; /*14px*/ color: white;
	margin:0;
  	padding:0;
	border:none;
	}
		/*white-space: normal;*/
    /*Helvetica, Tahoma, sans-serif; Calibri,sans-serif;*/
/*body {	background-color: #141414; 	font-family:Calibri,sans-serif; }*/
/*header {}*/
nav ul {
	background-color:#161616;
	list-style-type: none;
	padding:0px;
	margin:0px;
	margin: hidden;
	text-align:center;
	overflow: hidden;
}
nav li {
	display: inline-block;  /* NAVBAR HORIZONTAL, no float */
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}
#nav.lang{

}
/*.navi:hover{
	display:block;  
	overflow:scroll;
}*/

/*TEXT / FORM*/
h1, h2, h3, h4, .lang { margin:auto; font-weight: bold }
/*h1, h2, h3, h4 {    margin-top:10pt;    margin-bottom:10pt;	color:#4F81BD;}*/
h1 { font-size: xx-large; } /*2em*/
h2 { font-size: x-large } /*1.6em*/
h3 { font-size: large } /*h3 { 1.3em border-bottom: 1px solid gray;}*/
h4 { font-size: small; } /*h4 {  1.18em  font-weight: normal;	margin-bottom:0pt;}*/
p { /*font-size:*/ /*10pt;*/    margin:auto;    color: white; }

a {  color: deepskyblue; }
a:link, a:visited { text-decoration: none }
a:hover   { text-decoration: underline;  color: skyblue; }
a:focus  { text-decoration: underline}
a.listitem { color: deepskyblue }
a.listitem:hover { color: skyblue; }
a.listitem:visited { color: darkcyan}

/*ol li {list-style-type:decimal-leading-zero}*/

/*input {	position:fixed;}*/

/*TYPE / CLASS*/

.list {	margin:0;
		border:none; } /*padding:0;*/ /*margin:auto*/
/*.hide { display: none; }*/

/*.head {
	width: 100%;
	height:100%;
}*/

.main {
	position:fixed;
	display:hidden;
    overflow:hidden;
/*  width: 80%;
    margin-left:20%;
    height:100%;*/
    /*left:20%;*/
/*	white-space:normal;*/
}

.lang { text-align: right; font-size: large; }

/*.table {
	border:1px;
	border-collapse:collapse;
}*/


.line { text-decoration: underline; }
.c1 {	color: #9BBB59;}
.c2 {	color: #F79646;}
.c3 {	color: #C0504D;}
.note {   color: darkgray;	/*display:block;*/}
.ref {    color:gray;	} /*display:block;*/
