nav.menu{
    background:#232629;
	list-style-type: none;
}
nav.menu ul {
	padding:0px;
	margin:0px;
    text-align:center;
	overflow: hidden;
}
nav.menu li {
	/* display: inline-block;  NAVBAR HORIZONTAL, no float */
	padding-left: 10px;
	padding-right: 10px;

    /* padding:0 0 0 1px; */
	color:#eee;
	color:#303438;
	/* text-transform:uppercase; */
	/* font-stretch:extra-condensed; */
	letter-spacing:2px;
	font:bold 14px Geneva, Arial, Helvetica, sans-serif;
}
nav a {	color: #eee; font-weight: bold }

a { color:#dddddd;}
a:hover { color: #aaa}
a.x {background: #303438;}
